{% extends 'partials/_layout.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
<main class="main h-100 w-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">

          <div class="text-center mt-4">
            <h1 class="h2">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                    <form action="{{ action_url }}" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div>
                            <a href="{% url 'account_login' %}" class="btn btn-outline-primary">Back to Login</a>
                            <input type="submit" name="action" value="change password" class="btn btn-primary">
                        </div>
                    </form>
                    {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

