{% load notification_extra %}
<nav class="navbar navbar-expand navbar-theme">
    <a class="sidebar-toggle d-flex me-2">
        <i class="hamburger align-self-center"></i>
    </a>

    <form class="d-none d-sm-inline-block">
        <input class="form-control form-control-lite" type="text" placeholder="Search projects...">
    </form>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown ms-lg-2">
                {% unread_notifications user as notifications %}
                <a class="nav-link dropdown-toggle position-relative" href="#" id="alertsDropdown"
                    data-bs-toggle="dropdown">
                    <i class="align-middle fas fa-bell"></i>
                    {% if notifications %}
                    <span class="indicator"></span>
                    {% endif %}
                </a>
                
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    {% if notifications %}
                    <div class="dropdown-menu-header">
                        {{notifications.count}} New Notifications
                    </div>
                    <div class="list-group">
                        {% for notification in notifications %}
                        <a href="#" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="ms-1 text-danger fas fa-fw fa-bell"></i>
                                </div>
                                <div class="col-10">    
                                    <div class="text-muted small mt-1">{{notification.desc | truncatewords:15}}
                                    </div>
                                    <div class="text-muted small mt-1">{{notification.created_at | timesince}} ago</div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all notifications</a>
                    </div>
                    {% else %}
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">No new notifications</a>
                    </div>
                    {% endif %}
                    
                </div>
            </li>
            <li class="nav-item dropdown ms-lg-2">
                <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown"
                    data-bs-toggle="dropdown">
                    <i class="align-middle fas fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'accounts:settings' %}"><i class="align-middle me-1 fas fa-fw fa-cogs"></i>
                        Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                            class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
                </div>
            </li>
        </ul>
    </div>

</nav>